

.dropdown_unit {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  padding-block: 10px;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  
  a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
  };

  &:hover {
    background-color: #F2F5F7;
  }

  img {
    width: 20px;
    height: 20px;
  }
}