@use "@variables" as variables;

.login {
  width: max(45%, 400px);
  height: max(60%, 550px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  z-index: 0;

  h1 {
    z-index: 3;
  }
}

.login::after {
  content: '';
  position: absolute;
  width: max(45%, 400px);
  height: max(50%, 450px);
  background: variables.$background_glass_collor;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
}