@use "@variables" as variables;

.registration {
  width: max(35%, 150px);
  height: max(50%, 550px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;

  h1 {
    color: white;
    z-index: 3;
  }
}
