@use '@mixins' as mixins;
@use '@variables' as variables;

@mixin default-container {
  padding-bottom: 2rem;
};

.img_loader {
  @include default-container();
  padding-top: 2rem;
  width: 100%;
}

.img_loader_subject {
  padding: 10px;
  $widht_img_loader: 20.5em;
  $height_img_loader: 9.688em;
  position: relative;
  
  background-color: variables.$background_img_loader;
  height: $height_img_loader;
  width: max($widht_img_loader, 25%);
  
  border-style: dashed;
  border-color: variables.$border_img_loader_dashed;
  border-width: 1px;
  border-radius: 8px;
  
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img_loader_subject_active {
  width: 100%;
  height: fit-content;
}