@use '@variables' as variables;

.menu_dots {
  width: 100%;
  height: 100%;
  position: relative;
}

.dropdown_dots {
  position: absolute;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;

  ul {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      background: none repeat scroll 0 0 variables.$dots_background_color;
      height: 4px;
      width: 4px;
      line-height: 0;
      list-style: none outside none;
      margin-top: 5px;
      vertical-align: top;
      border-radius: 50%;
      pointer-events: none;
    }
  }
}