$background_app_color: #B5E0FE4D;
$background_img_loader: #FFFFFF;
$background_inner_circly_loader: #F2F5F7;

$border_img_loader_dashed: #CACDD2;

$button_loader_color: #FED8CC;

$dots_background_color: #7B828E;

$history_upper_border_with: 2px;

$background_glass_collor: #beebff3d;
$background_glass_collor2: #4491b33d;

$amount_columns_per_row: 5;
$background_grid_unit: #00000085;