
.login_form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max(75%, 350px);

  label {
    padding-block: 10px;
    font-size: 1.1rem;
    margin-top: 7px;
    color: white;
  }

  input {
    padding: 8px;
    width: max(150px, 100%);
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    margin-top: 60px;
    width: max(50%, 100px);
    align-self: center;
    border: none;
    border-radius: 20px;
    background: rgba(94, 183, 255, 0.541);
    font-size: 1.3rem;
    color: white;

    &:hover {
      background: rgba(7, 143, 255, 0.363);
    }
  }
}