@use '@mixins' as mixin;
@use '@variables' as variable;

@mixin img_history_row {
  background-color: #FFFFFF;
  width: 100%;
  height: 48px;
}

@mixin img_history_title_text {
  justify-self: start;
  align-self: center;
}

.gallery {
  min-height: calc(100vh - 64px);
  height: auto;
  background-color: variable.$background_app_color;
  padding-inline: 3rem;
}


