@use '@variables' as variables;

$background_button_submit: #8aa6b985;

.login_form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max(75%, 350px);
  z-index: 3;

  border-color: rgba(0, 0, 0, 0.178);
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  box-shadow: 0 0px 7px 0px rgba(0, 0, 0, 0.452);

  label {
    padding-block: 10px;
    font-size: 1.1rem;
    margin-top: 7px;
    z-index: 3;
  }

  input {
    padding: 8px;
    width: max(150px, 100%);
    border: none;
    outline: none;
    border-radius: 10px;
    z-index: 3;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width: max(50%, 100px);
    align-self: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 2px black;
    background: rgba(94, 182, 255, 0.17);
    z-index: 4;
    font-size: 1.3rem;

    &:hover {
      background: rgba(7, 143, 255, 0.363);
      box-shadow: 0px 0px 5px black;
    }
  }
}