* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSansNagMundari-Regular";
}

@font-face {
  font-family: NotoSansNagMundari-Bold;
  src: url("shared/fonts/NotoSansNagMundari-Bold.ttf");
}

@font-face {
  font-family: NotoSansNagMundari-Medium;
  src: url("shared/fonts/NotoSansNagMundari-Medium.ttf");
}

@font-face {
  font-family: NotoSansNagMundari-Regular;
  src: url("shared/fonts/NotoSansNagMundari-Regular.ttf");
}

@font-face {
  font-family: NotoSansNagMundari-SemiBold;
  src: url("shared/fonts/NotoSansNagMundari-SemiBold.ttf");
}